.btn-ystia {
  display: inline-block;
  margin-left: 1rem;
  margin-top: 1rem;
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(255, 255, 255, 0.08);
  border-color: rgba(255, 255, 255, 0.2);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.3rem;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s;
  padding: 0.75rem 1rem;
}

.btn-ystia:hover {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.2);
    border-color: rgba(255, 255, 255, 0.3);
}

.icon-ystia {
  vertical-align: middle;
}

.icon-ystia-small {
  width: 150px;
  height: 92px;
}

.content-ystia {
  max-width: none !important;
  padding: 0rem !important;
}

.bg-ystia {
  background-color:#400c7c !important}